body{
   
    color: black;
}


.Course-col{
    text-align: center;
    flex-basis: 31%;
    background: red; 
    width: 80%;
    border-radius: 10%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
}
.Course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.Course-col img{
    height: 10%;
    width: 50%;
    border-radius: 30px
}

